In [5]:
number_1 = 1
number_2 = 2
number_3 = 3
number_4 = 4
number_5 = 5
print(number_1, number_2, number_3, number_4, number_5)

1 2 3 4 5

In [4]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [13]:
fruits = ['apple', 'banana', 'orange']
print(fruits[0])
print(fruits[1])
print(fruits[2])
# print(fruits[3])

apple
banana
orange

In [15]:
fruits[0:2]

['apple', 'banana']

In [6]:
empty_list = []

In [8]:
names = ["Amanda", "Walter"]
names.append("Colleen")
print(names)

['Amanda', 'Walter', 'Colleen']

In [10]:
numbers = []
N = int(input("How many number do you want to add to the list:"))
for _ in range(N):
    number_to_add = int(input("Enter number to add:"))
    numbers.append(number_to_add)
print(numbers)

[1, 1, 2]

In [11]:
names = ["Amanda", "Walter", "Colleen"]

for name in names:
    print(name)

Amanda
Walter
Colleen

In [35]:
names = ["Amanda", "Walter", "Colleen"]

for i in range(len(names)):
    print(names[i])

Amanda
Walter
Colleen

In [16]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [17]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [18]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [19]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [20]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [24]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [26]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

In [27]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [31]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [34]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [36]:
newlist = []
for x in range(10):
    newlist.append(x)
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]